_site
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
.sass-cache

# added later
.git
.sass-cache
# _data
# _includes
# _layouts
# _posts
# _sass
# _templates
theme-setup
# .editorconfig
# .travis.yml
